@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@media screen and (min-width: 1440px) {
    
    * {
        margin: 0;
        padding: 0;
        border: 0;
        text-decoration: none;
        font-family: "Inter", sans-serif;
        font-style: normal;
    }

    :root {
        --color-1: #12A594;
        --color-2: #FFFFFF;
        --color-3: #FBFDFD;
        --color-4: #F3FBF9;
        --color-5: #A1DED2;
        --color-6: #83CDC1;
        --color-7: #E0F8F3;
        --color-8: #008573;
        --color-9: #CCF3EA;
        --color-10: #B8EAE0;
        --color-alert: #9E6C00;
        --color-backgroundr-alert: #FEFCE9;
        --color-border-alert: #F3D65F;
    }

    body {
        background-color: var(--color-3);
    }

    #container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        filter: drop-shadow(0px 4px 0px var(--color-5));
    }

    .section {
        width: 328px;
        height: 100%;
        border-radius: 30px;
        border: 2px solid var(--color-5);

        background: var(--color-4);
    }

    .card {
        width: 298px;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        gap: 30px;
    }

    #logo {
        width: 238px;
        height: 63px;

        background-repeat: no-repeat;
        background-size: cover;
    }

    .content-card {
        width: 298px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .content-card p {
        color: var(--color-1);
        text-align: justify;
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.5px;
    }

    form {
        width: 298px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .alert {
        display: flex;
        align-items: center;
        width: 246px;
        height: 50px;
        background: var(--color-backgroundr-alert);
        border: 2px solid var(--color-border-alert);
        filter: drop-shadow(0px 4px 0px var(--color-border-alert));
        border-radius: 25px;
        font-weight: 400;
        font-size: 18px;
        color: var(--color-alert);
    }

    .icon-alert {
        background-image: url('../../images/icon-alert.svg');
        background-repeat: no-repeat;
        background-position: calc(0% - -18px) center;
        padding-left: 48px;
    }

    .input-layout {
        width: 298px;
        height: 50px;
        padding: 13px;
        font-weight: 400;
        font-size: 15px;
        
    
        box-sizing: border-box;
        border-radius: 25px;
        border: 2px solid var(--color-6);
        background: var(--color-7);
        filter: drop-shadow(0px 4px 0px var(--color-6));
        outline-color: var(--color-8); 

    }

    ::-webkit-input-placeholder {
        color: var(--color-1);
    }

    :-ms-input-placeholder {  
        color: var(--color-1); 
    }

    .icon-email {
        background-image: url('../../images/icon-email.svg');
        background-repeat: no-repeat;
        background-position: calc(10% - 10px) center;
        padding-left: 50px;

    }

    .checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
        color: var(--color-8);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: -5px;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 2px solid var(--color-6);
        background-color: var(--color-7);
        box-shadow: 0px 4px 0px 0px var(--color-6);
    }

    .checkbox input:checked ~ .checkmark {
        background-color: var(--color-10)
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    .checkbox .checkmark:after {
        left: 6px;
        top: 7px;
        width: 18px;
        height: 18px;
        background-image: url('../../images/icon-correct.svg');
        background-repeat: no-repeat;
    }

    .button-submit {
        display: flex;
        height: 45px;
        padding: 10px 43px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 22.5px;
        border: 2px solid var(--color-6);
        background: var(--color-7);
        box-shadow: 0px 4px 0px 0px var(--color-6);
        font-weight: 500;
        color: var(--color-8);
        cursor: pointer;
    }

    .button-submit:hover {
        background: var(--color-9);
    }

    .cancelar {
        font-weight: 400;
        line-height: normal;
        font-size: 12px;
        text-decoration-line: underline;
        color: var(--color-1);
    }

    .cancelar a:link {
        color: var(--color-1);
    }

    .cancelar a:visited {
        color: var(--color-1);
    }

    .cancelar a:active {
        color: var(--color-1);
    }
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
        
    * {
        margin: 0;
        padding: 0;
        border: 0;
        text-decoration: none;
        font-family: "Inter", sans-serif;
        font-style: normal;
    }

    :root {
        --color-1: #12A594;
        --color-2: #FFFFFF;
        --color-3: #FBFDFD;
        --color-4: #F3FBF9;
        --color-5: #A1DED2;
        --color-6: #83CDC1;
        --color-7: #E0F8F3;
        --color-8: #008573;
        --color-9: #CCF3EA;
        --color-10: #B8EAE0;
        --color-alert: #9E6C00;
        --color-backgroundr-alert: #FEFCE9;
        --color-border-alert: #F3D65F;
    }

    body {
        background-color: var(--color-3);
    }

    #container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        filter: drop-shadow(0px 4px 0px var(--color-5));
    }

    .section {
        width: 328px;
        height: 100%;
        border-radius: 30px;
        border: 2px solid var(--color-5);

        background: var(--color-4);
    }

    .card {
        width: 298px;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        gap: 30px;
    }

    #logo {
        width: 238px;
        height: 63px;

        background-repeat: no-repeat;
        background-size: cover;
    }

    .content-card {
        width: 298px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .content-card p {
        color: var(--color-1);
        text-align: justify;
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.5px;
    }

    form {
        width: 298px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .alert {
        display: flex;
        align-items: center;
        width: 298px;
        height: 50px;
        background: var(--color-backgroundr-alert);
        border: 2px solid var(--color-border-alert);
        filter: drop-shadow(0px 4px 0px var(--color-border-alert));
        border-radius: 25px;
        font-weight: 400;
        font-size: 18px;
        color: var(--color-alert);
    }

    .icon-alert {
        background-image: url('../../images/icon-alert.svg');
        background-repeat: no-repeat;
        background-position: calc(0% - -18px) center;
        padding-left: 48px;
    }

    .input-layout {
        width: 298px;
        height: 50px;
        padding: 13px;
        font-weight: 400;
        font-size: 15px;
        
    
        box-sizing: border-box;
        border-radius: 25px;
        border: 2px solid var(--color-6);
        background: var(--color-7);
        filter: drop-shadow(0px 4px 0px var(--color-6));
        outline-color: var(--color-8); 

    }

    ::-webkit-input-placeholder {
        color: var(--color-1);
    }

    :-ms-input-placeholder {  
        color: var(--color-1); 
    }

    .icon-email {
        background-image: url('../../images/icon-email.svg');
        background-repeat: no-repeat;
        background-position: calc(10% - 10px) center;
        padding-left: 50px;

    }

    .checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
        color: var(--color-8);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: -5px;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 2px solid var(--color-6);
        background-color: var(--color-7);
        box-shadow: 0px 4px 0px 0px var(--color-6);
    }

    .checkbox input:checked ~ .checkmark {
        background-color: var(--color-10)
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    .checkbox .checkmark:after {
        left: 6px;
        top: 7px;
        width: 18px;
        height: 18px;
        background-image: url('../../images/icon-correct.svg');
        background-repeat: no-repeat;
    }

    .button-submit {
        display: flex;
        height: 45px;
        padding: 10px 43px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 22.5px;
        border: 2px solid var(--color-6);
        background: var(--color-7);
        box-shadow: 0px 4px 0px 0px var(--color-6);
        font-weight: 500;
        color: var(--color-8);
        cursor: pointer;
    }

    .button-submit:hover {
        background: var(--color-9);
    }

    .cancelar {
        font-weight: 400;
        line-height: normal;
        font-size: 12px;
        text-decoration-line: underline;
        color: var(--color-1);
    }

    .cancelar a:link {
        color: var(--color-1);
    }

    .cancelar a:visited {
        color: var(--color-1);
    }

    .cancelar a:active {
        color: var(--color-1);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
        
    * {
        margin: 0;
        padding: 0;
        border: 0;
        text-decoration: none;
        font-family: "Inter", sans-serif;
        font-style: normal;
    }

    :root {
        --color-1: #12A594;
        --color-2: #FFFFFF;
        --color-3: #FBFDFD;
        --color-4: #F3FBF9;
        --color-5: #A1DED2;
        --color-6: #83CDC1;
        --color-7: #E0F8F3;
        --color-8: #008573;
        --color-9: #CCF3EA;
        --color-10: #B8EAE0;
        --color-alert: #9E6C00;
        --color-backgroundr-alert: #FEFCE9;
        --color-border-alert: #F3D65F;
    }

    body {
        background-color: var(--color-3);
    }

    #container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        filter: drop-shadow(0px 4px 0px var(--color-5));
    }

    .section {
        width: 328px;
        height: 100%;
        border-radius: 30px;
        border: 2px solid var(--color-5);

        background: var(--color-4);
    }

    .card {
        width: 298px;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        gap: 30px;
    }

    #logo {
        width: 238px;
        height: 63px;

        background-repeat: no-repeat;
        background-size: cover;
    }

    .content-card {
        width: 298px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .content-card p {
        color: var(--color-1);
        text-align: justify;
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.5px;
    }

    form {
        width: 298px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .alert {
        display: flex;
        align-items: center;
        width: 298px;
        height: 50px;
        background: var(--color-backgroundr-alert);
        border: 2px solid var(--color-border-alert);
        filter: drop-shadow(0px 4px 0px var(--color-border-alert));
        border-radius: 25px;
        font-weight: 400;
        font-size: 18px;
        color: var(--color-alert);
    }

    .icon-alert {
        background-image: url('../../images/icon-alert.svg');
        background-repeat: no-repeat;
        background-position: calc(0% - -18px) center;
        padding-left: 48px;
    }

    .input-layout {
        width: 298px;
        height: 50px;
        padding: 13px;
        font-weight: 400;
        font-size: 15px;
        
    
        box-sizing: border-box;
        border-radius: 25px;
        border: 2px solid var(--color-6);
        background: var(--color-7);
        filter: drop-shadow(0px 4px 0px var(--color-6));
        outline-color: var(--color-8); 

    }

    ::-webkit-input-placeholder {
        color: var(--color-1);
    }

    :-ms-input-placeholder {  
        color: var(--color-1); 
    }

    .icon-email {
        background-image: url('../../images/icon-email.svg');
        background-repeat: no-repeat;
        background-position: calc(10% - 10px) center;
        padding-left: 50px;

    }

    .checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
        color: var(--color-8);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: -5px;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 2px solid var(--color-6);
        background-color: var(--color-7);
        box-shadow: 0px 4px 0px 0px var(--color-6);
    }

    .checkbox input:checked ~ .checkmark {
        background-color: var(--color-10)
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    .checkbox .checkmark:after {
        left: 6px;
        top: 7px;
        width: 18px;
        height: 18px;
        background-image: url('../../images/icon-correct.svg');
        background-repeat: no-repeat;
    }

    .button-submit {
        display: flex;
        height: 45px;
        padding: 10px 43px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 22.5px;
        border: 2px solid var(--color-6);
        background: var(--color-7);
        box-shadow: 0px 4px 0px 0px var(--color-6);
        font-weight: 500;
        color: var(--color-8);
        cursor: pointer;
    }

    .button-submit:hover {
        background: var(--color-9);
    }

    .cancelar {
        font-weight: 400;
        line-height: normal;
        font-size: 12px;
        text-decoration-line: underline;
        color: var(--color-1);
    }

    .cancelar a:link {
        color: var(--color-1);
    }

    .cancelar a:visited {
        color: var(--color-1);
    }

    .cancelar a:active {
        color: var(--color-1);
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
        border: 0;
        text-decoration: none;
        font-family: "Inter", sans-serif;
        font-style: normal;
    }

    :root {
        --color-1: #12A594;
        --color-2: #FFFFFF;
        --color-3: #FBFDFD;
        --color-4: #F3FBF9;
        --color-5: #A1DED2;
        --color-6: #83CDC1;
        --color-7: #E0F8F3;
        --color-8: #008573;
        --color-9: #CCF3EA;
        --color-10: #B8EAE0;
        --color-alert: #9E6C00;
        --color-backgroundr-alert: #FEFCE9;
        --color-border-alert: #F3D65F;
    }
}

@media screen and (max-width: 575px) {

}